.DS_Store
DerivedData
xcuserdata
xcshareddata
project.xcworkspace
build
*.pyc
*.o
.idea
build.sh
*.sh
story/
story/ep1/
story/ep2/
story/ep3/
story/ep4/
story/ep5/
story/ep6/
story/ep7/
story/ep8/
story/omake/
story/ep1/en/
story/ep2/en/
story/ep3/en/
story/ep4/en/
story/ep5/en/
story/ep6/en/
story/ep7/en/
story/ep8/en/
story/omake/en/
game/
game/main/
game/AAA - Original Main/

game/main/umi1_op.txt
